body {
    font-family: sans-serif;
    background: rgb(75, 191, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form{
    width: 300px;
}

input {
    border: none;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available; 
    border-radius: 5px;
}

button {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

button[disabled] {
    opacity: 0.6;
}

.clear {
    background: transparent;
    border: none;
    color: #fff;
}

.solid {
    background: #fff;
    border: none;
    color: rgb(75, 191, 236);
}

.outline {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;   
}